[![Open in Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/y-akbal/Tedu_Python_for_DS/blob/main/1/W3.ipynb)

In [1]:
def function(x:int) -> list:  ### good practice to hint your types
  ## Do something here
  return None

In [4]:
f = lambda x: x**2  ###f(x) = x**2

In [6]:
def g(x) ->function:  ### function returning another function
  def f(t):  #### decorates the function inside (inner function)
    return t**2 + x
  return f

### Last time I promised to talk about decorator functions.

In [49]:
import time
from time import time

In [50]:
def time_(g):
  def wrapper(x):
    a = time()
    l = g(x)
    b = time()
    print(f"This function does its job in {b-a} secs")
    return l
  return wrapper

In [51]:
@time_
def g(x):
  return x**2

In [53]:
x = g(10)

This function does its job in 2.6226043701171875e-06 secs

In [54]:
x

100

#The decorator functions are a bit hard to deal with, but once you get used to them they are easy peasyy.

## Let's get back to our ordinary world!!!  Let's talk about if statements....

In [ ]:
# if somethings is true:
#   do something
# else:
# in the rest of of time
###Or maybe

In [ ]:
# if somethings is true:
#   do something
# elif another thing is true:
#    do something
# elif yet another thing is true:
#    do something
# else:
#    do a final thing
# in the rest of of time

In [55]:
N = 10 ### convention that global variables are used with uppercase latter

In [61]:
N = 1
if N % 2 == 0:
  print("This due is an even number!!!")
else:
  print("This dude is an odd number!!!")

This dude is an odd number!!!

In [62]:
if True:
  print("Hello dear!!!")

Hello dear

In [63]:
if 1:
  print("Yeaap")

Yeaap

In [66]:
if 2: #### number other than 0 will be treated as True, but 0 will be treated as False
  print("Yeaap")

Yeaap

In [68]:
if None: ###3 None is treated as False.
  print("Yeah")
else:
  print("Hoppa")

Hoppa

## Logical statements

In [74]:
x,y,z = True, True, False

In [76]:
if x and y:
  print("Both x and y true")

Both x and y true

In [77]:
if x and z:
  print("Ya sure about it?")
else:
  print("Or at least one of the statements false")

Or at least one of the statements false

In [79]:
if x or z:
  print("What is your guess??? I believe it is True")
else:
  print("Will it give false or true???")

What is your guess??? I believe it is True

In [81]:
if not x:
  print("True -> True")
else:
  print("True -> False")

True -> False

In [82]:
x

True

##Let's talk about the notion of loops (iterators)

## Problem: Assume that you are given a list of integers,
## you want to find the even integers in this list what do you need? 
# $X = [1,2,3,4,5,-1, 10, 100, 2]$

In [85]:
X = [1,2,3,4,5, -1, 10, 100, 2]
for x in X:
  ### do what ever you like here!!!!!!
  ### any thing you can do!!!
  if x % 2 == 0:
    print(x)

2
4
10
100
2

In [86]:
a = "My name is yildirim akbal, I think therefore I am !!!!"

In [ ]:
for char in a: ### this guy prints out the characters in the string
  print(char)

In [98]:
a.__getitem__(1) ### the same as a[1]

'y'

### break statement!!!!!!!!!!!!!!
### continue statement !!!!!!!!

In [105]:
for i in range(100000000000000000000000000000000000000000):
  print(i)
  if i == 10:
    break
  else:
    continue
### if a certain condition is satisfied then leave the loop and do not check the other conditions....

0
1
2
3
4
5
6
7
8
9
10

In [111]:
L = []
for i in range(100):
  for j in range(100):
    L.append(i*j)
    if i*j == 9:
      print("innermost loop is broken")
      break
### In nested for loops, inner most loop is left when break is called once.
### However outermost loop continues looping....

innermost loop is broken
innermost loop is broken
innermost loop is broken

In [143]:
### Habits you should forget before you learn them
a = [1,-1, 23, 23, 12, 12]
for i in range(len(a)):
  print(a[i])  ### Thou shall not do this!!!!!!  ###instead
for i in a:  ### this is better
  print(i)

1
-1
23
23
12
12
1
-1
23
23
12
12

In [145]:
for i in range(len(a)):
  print(i,a[i]) 
### There is a better way of doing this!!!

0 1
1 -1
2 23
3 23
4 12
5 12

In [146]:
for i, el in enumerate(a):
  print(i, el)
### There is a better way of doing this!!!

0 1
1 -1
2 23
3 23
4 12
5 12

In [154]:
#### Zip function
a = [1,2,3,4, -12,23]
b = [12, -12, 123, 323 ,3, 10, 10, -1, 12312, 123123] 
for a_,b_ in zip(a,b):   ###in the case that the lengths are not the same short one is consider.
  print(a_, b_)

1 12
2 -12
3 123
4 323
-12 3
23 10

In [159]:
 #### the generators!
 def f(n,m):
   for i in range(1,n+1):
     for j in range(1,m+1):
       yield i*j 
### This gives an generator object

In [167]:
L = f(2,3)

In [168]:
for i in L:
  print(i)

1
2
3
2
4
6

### An important concept with lists

In [171]:
def f(n:int) -> list:
  L = []
  for i in range(1, n+1):
    L.append(i**2)
  return L

In [172]:
f(10)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [175]:
[i**2 for i in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [176]:
f = lambda n : [i**2 for i in range(1,n+1)]

In [184]:
a = "DİSK-AR'ın Emekli İkramiyesi Nasıl Eridi? başlıklı raporunda resmi enflasyonun son 5 yılda yüzde 269, resmi gıda enflasyonun ise yüzde 362 artarken emekli bayram ikramiyesi sadece yüzde 10 arttığı belirtildi. "

In [179]:
#### First question
### How do you find unique characters in this string?
### Motto: Keep it stupidly simply
def return_unique_charc(a:str)->set:
  A = set()
  for char in a:
    A.add(char)
  return A

In [182]:
uniq_char = return_unique_charc(a);

In [189]:
#### Second question: I would like to find out frequency of characters:
def return_frqs(a:str)->dict:
  uniq_char = return_unique_charc(a)
  dict_ = {char:0 for char in uniq_char}
  for char in a:
    dict_[char] += 1
  return dict_

In [198]:
L = dict()

In [196]:
#### Second question: I would like to find out frequency of characters:
def return_frqs(a:str)->dict:
  dict_ = {}
  for char in a:
    if char in dict_.keys():
      dict_[char] += 1
    else:
      dict_[char] = 1
  return dict_

In [203]:
return_frqs(a);

In [208]:
import random
L = [random.randint(-100, 100) for i in range(1000)]

In [213]:
####First question 
# [-2, 1, 3, -1] -> [-2, -1, 1, 3]  sorted this array 
L; ### this guy is an array of integers

In [232]:
####Question how do we check that this array is sorted?
def check_ifsorted(L:list)->bool:
  N = len(L)
  sorted = True
  for i in range(N-1):
    if L[i] <= L[i+1]:
      continue
    else:
      sorted = False
      break
  return sorted

In [241]:
L.sort()  #### sorts the list

In [244]:
L.reverse()  ### changes the order (in general)

In [249]:
list_ = [-1, 2, 3, 4]

In [255]:
list_[::-1]  ### change the order

[4, 3, 2, -1]

In [258]:
from math import inf
###inf is the largest number, and -inf is the smallest number

inf

In [295]:
def f(x):
  return x**2

In [ ]:
dir(math)

In [272]:
#### How do we find the minimum element and its argument of an array of floats? (there maybe morethan one such elements)
### pick only one
def min_pic(L:list) -> tuple:
  x = inf
  arg = 0
  for arg_, val in enumerate(L):
    if x >= val:
      x = val
      arg = arg_
  return x, arg

In [273]:
min_pic([-40, -10, 1, 2, 4, -40])

(-40, 5)

In [274]:
min([-40, -10, 1, 2, 4, -40])

-40

In [275]:
[-40, -10, 1, 2, 4, -40].index(-40)

0

In [276]:
#5! = 5*4*3*2*1
def factorial(n:int)->int:
  i = 1
  for j in range(1,n+1):
    i *= j
  return i

In [287]:
def factorial(n:int):  #### this is called recursion. WE do not use it a lot as it requiers a bit care, 
  if n == 1 or n == 0:
    return 1
  return n*factorial(n-1)

In [288]:
factorial(0)

1

In [289]:
factorial(10)

3628800

In [2]:
from functools import cache, lru_cache

In [1]:
def fibonacci(n:int)->int:
    if n == 0 or n == 1:
        return 1
    return fibonacci(n-1)+fibonacci(n-2)

In [3]:
%timeit fibonacci(10)

7.09 µs ± 127 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [4]:
@lru_cache
def fibonacci(n:int)->int:
    if n == 0 or n == 1:
        return 1
    return fibonacci(n-1)+fibonacci(n-2)

In [5]:
%timeit fibonacci(10) ## Damn fast!!!

44.7 ns ± 0.63 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)